{
  # to use handle_path for prefixes, pmtiles_proxy must have a defined
  # position in the ordering of handlers.
  order pmtiles_proxy before reverse_proxy
  email ${MAPS_EMAIL}
}

(cors) {
  @origin header Origin {args.0}
  header @origin {
    Access-Control-Allow-Origin "{header.Origin}"
    Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
    Access-Control-Allow-Headers "*"
    Access-Control-Allow-Credentials "true"
    Access-Control-Max-Age "3600"
    defer
  }
}

${MAPS_DOMAIN} {
  @allowed_origins {
    expression {header.Origin}.matches('^https://([a-zA-Z0-9-]+\\.)*${MAPS_SERVE_DOMAIN}$') || {header.Origin}.matches('^https://maplibre\\.org$')
  }

  header @allowed_origins {
    Access-Control-Allow-Origin "{header.Origin}"
    Access-Control-Allow-Methods "*"
    Access-Control-Allow-Headers "*"
    Access-Control-Allow-Credentials "true"
    Access-Control-Max-Age "3600"
    defer
  }

  handle_path /tiles/* {
    pmtiles_proxy {
      bucket ${MAPS_PMTILES_LOCATION}
      cache_size 19000
      public_url https://${MAPS_DOMAIN}/tiles
    }
  }
}
